includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - app/
        - Modules/
    excludePaths:
        - **/tests/**
        - Modules/CRUDGenerator/**/**
    level: 9
    checkModelProperties: true
    ignoreErrors:
        #- '#Call to an undefined static method Illuminate\\Support\\Str::minify\(\)#'
